<h3>See all active posts below:</h3>
{{#if logged_in}}
{{else}}
  <p>To see the posts details please Sign up or Login</p>
{{/if}}

{{#each posts as |post|}}
    
    <div class="card text-center">
     <a href="/post/{{post.id}}">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
      </div>
      </a>
      <div class="card-footer text-muted">
        Created by {{post.user.username}} on {{format_date post.date_created}}
      </div>
    </div>
{{/each}}
