<div class="card">
  <h7 id="post-header" class="card-header">Created by {{user.username}} on {{format_date date_created}}</h7>
  <div id="post-content" class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post_content}}</p>
    {{!-- <a href="/api/comments/{{id}}">
      <button type="button" id="comment-btn" class="btn btn-primary" data-id="{{id}}">Comments</button>
    </a>  --}}
 </div>
</div>
<br>
{{#if logged_in}}
{{#if comments.length}}
<div>
  <h1 id="header-comment-section">All comments: </h1>
  <div>
    {{#each comments as |comment|}}
      {{>comment-post}}
    {{/each}}
  </div>
</div>
{{/if}}
  <form class="comment-form" style="max-width: 850px">
  <h4>Leave a comment:</h4>
    <div class="mb-3">
      <textarea class="form-control" id="content-comment" rows="2"></textarea>
    </div>
    <div class="form-group">
        <button type="button" id="add-comment-btn" class="btn-add-comment btn btn-warning" data-id="{{id}}">+ Add Comment</button>
    </div>

</form>
{{else}}
  <a href="/login">
    <h4>Please login to see all comments. Click here...</h4>
  </a>
{{/if}}

<script src="/js/comments.js"></script>